<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Administrationspanel</h2>
        <label for="auctionHistoryTable">Auktionshistorik för alla avslutade auktioner</label>
        <table id="auctionHistoryTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Auktion</th>
                    <th>Började</th>
                    <th>Utgångstid</th>
                    <th>Provision</th>
                    <th>Provisionssats</th>
                    <th>Auktionsägande</th>
                    <th>Kategori</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="auc in auctions | orderBy:'endTime' ">
                    <td><a href="/auction/{{ auc.id }}">{{ auc.name }}</a></td>
                    <td><i>{{ auc.startTime | date: "yyyy-MM-dd, HH:mm" }}</i></td>
                    <td><i>{{ auc.endTime | date: "yyyy-MM-dd, HH:mm" }}</i></td>
                    <td>{{ auc.commission }}</td>
                    <td>{{ auc.commissionRate * 100 }}%</td>
                    <td>{{ auc.supplierName }}</td>
                    <td>{{ auc.categoryName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <button data-ng-disabled="noAuctions" data-ng-click="salesMonths=SalesReport(auctions); showReport = !showReport" class="btn btn-primary">Visa månadsrapporter</button>
        </div>
        <div class="row" data-ng-show="showReport">
            <div class="row">
                <div class="col-xs-5">
                    <select data-ng-model="selectedYear" data-ng-options="year for year in salesYears" class="form-control">
                       <option value="">Visa alla</option>
                    </select>
                    <span data-ng-hide="selectedYear != null"><p class="text-info">Total intäkt: {{ salesSum }} SEK</p></span>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>År</th>
                            <th>Månad</th>
                            <th>Intäkt</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="month in salesMonths | orderBy: 'year; month.value' | filter: { 'year': selectedYear||undefined }">
                            <td>{{ month.year }}</td>
                            <td>{{ month.month.name }}</td>
                            <td>{{ month.earned }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>