<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Administrationspanel</h2>
        <label for="auctionHistoryTable">Auktionshistorik för alla avslutade auktioner</label>
        <table id="auctionHistoryTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Auktion</th>
                    <th>Började</th>
                    <th>Utgångstid</th>
                    <th>Provision</th>
                    <th>Provisionssats</th>
                    <th>Buyout</th>
                    <th>Auktionsägande</th>
                    <th>Kategori</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="auc in auctions | orderBy:'endTime' ">
                    <td><a href="/auction/{{ auc.id }}"></a>{{ auc.name }}</td>
                    <td><i>{{ auc.startTime | date: "yyyy-MM-dd, HH:mm" }}</i></td>
                    <td><i>{{ auc.endTime | date: "yyyy-MM-dd, HH:mm" }}</i></td>
                    <td>{{ auc.commission }}</td>
                    <td>{{ auc.commissionRate * 100 }}%</td>
                    <td>{{ auc.sold }}</td>
                    <td>{{ auc.supplierName }}</td>
                    <td>{{ auc.categoryName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-xs-5">
                <label class="control-label" for="monthSelect">Månadsrapport</label>
                <select data-ng-model="selectedMonth" data-ng-options="month as 'month.year, month.name' for month in salesMonths" id="monthSelect" class="form-control">
                    <option value="">Visa alla</option>
                </select>
            </div>
        </div>
        <div class="row">
            <table>
                <thead>
                    <tr data-ng-repeat="month in salesMonths | filter: { month: selectedMonth }">
                        <th>År</th>
                        <th>Månad</th>
                        <th>Profit</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>