<div class="row">
    <div class="col-md-6 col-md-offset-3" style="background-color: lightpink; border: 1px solid darkred">
        <div class="row">
            <div class="col-xs-7">
                <label class="control-label" for="searchField">Sök</label>
                <input id="searchField" type="text" data-ng-model="searchString" class="form-control" >
            </div>
            <div class="col-xs-5">
                <label class="control-label" for="catSelect">Kategorier</label>
                <select data-ng-model="selectedCategory" data-ng-options="c as c.name for c in categories" class="form-control">
                    <option value="">Visa alla</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Auktion</th>
                    <th>Kategori</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="auc in allAuctions | orderBy:'categoryName' | filter: {'name': searchString } | filter: { 'categoryId': selectedCategory.id } | filter: { 'sold': false }"
                    ng-if="auc.endTime > currentTimestamp"
                    ng-if="auc.startTime < currentTimestamp" >
                    
                    <td><img style="max-width: 40%; max-height: 300px" data-ng-src="{{auc.imageUrl}}"></td>
                    <td><a href="/auction/{{auc.id}}">{{auc.name}}</a></td>
                    <td>{{ auc.categoryName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>