<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4 class="text-danger" data-ng-show="noAuction">Auktionsdetaljerna kunde inte hämtas.</h4>
        <p>Produkt: {{ auctionInfo.name }} i kategori <i>{{ auctionInfo.categoryName }}</i>.</p>
        <p>{{ auctionInfo.description }}</p>
        <p>Högsta bud: {{ highestBid }} SEK.</p>
        <p>Acceptpris: {{ auctionInfo.buyNowPrice }} SEK.</p>
        <p>Auktionen började <i>{{ auctionInfo.startTime | date: "yyyy-MM-dd, HH:mm" }}</i> och slutar <i>{{ auctionInfo.endTime | date: "yyyy-MM-dd, HH:mm" }}</i>.</p>
        <p class="text-info">{{ sold }}.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img data-ng-src="{{ auctionInfo.imageUrl }}" class="detailsImage">
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <span data-ng-if="rs_authenticatedUser == null"><p class="text-warning">Du måste <a href="/login">logga in</a> för att lägga ett bud.</p></span>
        <button type="button" data-ng-click="ToggleVisibility('bid', bidVisible)" data-ng-disabled="auctionInfo.sold || rs_authenticatedUser == null" class="btn btn-info">Lägg bud</button>
        <button type="button" data-ng-click="ToggleVisibility('buyout', buyoutVisible)" data-ng-disabled="auctionInfo.sold || rs_authenticatedUser == null" class="btn btn-info">Köp nu</button>
        <button type="button" data-ng-click="ToggleVisibility('bidHistory', bidHistoryVisible)" class="btn btn-default">Visa budhistorik</button>
        <button type="button" data-ng-click="ToggleVisibility('supplierInfo', supplierInfoVisible)" class="btn btn-default">Visa detaljer om auktionsägande</button>

        <div class="row">
            <div data-ng-show="bidVisible">
                <label class="control-label" for="bidInput">Ange ditt buds belopp</label>
                <input id="bidInput" type="number" data-ng-model="bidInput">
                <button data-ng-click="bid(bidInput)" data-ng-disabled="auctionInfo.sold || rs_authenticatedUser == null" class="btn btn-primary">Lägg bud</button>
                <span ng-show="invalidBid"><p class="text-warning">Var god lägg ett bud högre än {{ highestBid }} och lägre än {{ auctionInfo.buyNowPrice }}</p></span>
                <span ng-show="bidDeclined"><p class="text-warning">Ditt bud nekades, det är möjligt att någon nyss lagt ett högre eller auktionen gått ut.</p></span>
            </div>
            <div data-ng-show="buyoutVisible">
                <span ng-show="buyoutConfirmation"><p class="text-info">Ditt köp gick igenom, tack!</p></span>
                <p><b>Priset är: {{ auctionInfo.buyNowPrice }} SEK. Tryck på knappen under för att köpa nu.</b></p>
                <button data-ng-click="buyout()" data-ng-disabled="auctionInfo.sold || rs_authenticatedUser == null" class="btn btn-primary">Köp för {{ auctionInfo.buyNowPrice }} SEK</button>
                <span ng-show="buyoutDeclined"><p class="text-warning">Ditt köp nekades, det är möjligt att auktionen just köpts eller gått ut.</p></span>
            </div>
        </div>
        <div class="row">
            <div data-ng-show="bidHistoryVisible">
                <label for="historyTable" class="control-label"><br/>Budhistorik</label>
                <table id="historyTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Bud lagt</th>
                            <th>Värde</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="bid in bidHistory">
                            <td>{{ bid.dateTime | date: "yyyy-MM-dd, HH:mm" }}</td>
                            <td>{{ bid.bidPrice }} SEK</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-show="supplierInfoVisible">
                <br />
                <p>{{ supplierInfo.name }} <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>{{ supplierInfo.address }} <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ supplierInfo.postalCode }} <br />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ supplierInfo.city }}</i> <br />
                Tel: {{ supplierInfo.phone }}<br />
                E-post: {{ supplierInfo.email }}</p>
            </div>
        </div>
    </div>
</div>