<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gunnars auktionshörna</title>
    <base href="/">
    <link rel="shortcut icon" href="/img/auktionslivet.ico" />
    <link rel="stylesheet" href="lib/bootstrap.native/assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cuprum:700" rel="stylesheet"> 
    <link href="/css/site.css" rel="stylesheet"> 
    <script src="lib/bootstrap.native/dist/bootstrap-native.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-jwt/dist/angular-jwt.min.js"></script>
    <script src="lib/angular-cookies/angular-cookies.min.js"></script>
</head>

<body>
    <div ng-app="auktionslivet">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Gunnars Auktionshörna</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ng-if="rs_authenticatedUser == null"><a href="/register">Registrera ett konto</a></li>
                    <li ng-if="rs_authenticatedUser == null"><a href="/login">Logga in</a></li>
                    <li ng-if="rs_authenticatedUser == -1"><a href="/admin">Administrationspanel</a></li>
                    <li ng-if="rs_authenticatedUser != null"><a href="/logout">Logga ut</a></li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid" ng-view>

        </div>
    </div>

    <script src="app.js"></script>
    <script src="services/adminService.js"></script>
    <script src="services/auctionService.js"></script>
    <script src="services/authService.js"></script>

    <script src="controllers/adminController.js"></script>
    <script src="controllers/homeController.js"></script>
    <script src="controllers/loginController.js"></script>
    <script src="controllers/registerController.js"></script>
    <script src="controllers/viewAuctionController.js"></script>


</body>

</html>